body {
    /*setting the font */
    font-family: 'Roboto';
}

header {
    background-color: coral;
    /* aligning the contents in the header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline
}
button {
    /* Making all cursors turn into a pointer when hovering a button */
    cursor: pointer;
}

.user button {
    background: coral;
    /*rounded borders*/
    border-radius: 5px;
    /*button dimensions*/
    width: 80px;
    height: 30px;
    font-weight: bold;
    /*adjusting position*/
}

.user button:hover {
    /*changing the button background to a darker shade when hovered*/
    background: rgb(221, 111, 71);
}
footer {
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    grid-gap: 50px;
}
.mainSearch{
    /*setting background image behind the search bar*/
    background-image: url(assets/arcade2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
}
form.search {
    /*centering the search elements*/
    justify-content: center;
    display: flex;
    
}
form input[type=text] {
    background: #f1f1f1;
    font-size: 18px;
    padding: 8px;
    float:left;
    width: 50%;
    max-width: 600px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
}

form.search button {
    background: salmon;
    padding: 6px;
    float:left;
    display:block; 
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
}

/* from notes*/
form.search i {
    margin: auto;
}

.register {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5%;
    grid-gap: 20px;
}

.register input {
    width: 100%;
    padding: 5px;
}

.register p {
    margin: 0;
}

.register button {
    border-radius: 5px;
    background: salmon;
    width: 50%;
    height: 40px;
    border: 1px solid black;
}

.whole {
    grid-column: auto / span 6;
}
.half{
    grid-column: auto / span 3;
}

.third {
    grid-column: auto / span 2;
}


.password{
    grid-column: 1;
    grid-row: 3;
}
.passwordr{
    grid-column: 2;
    grid-row: 3;
}

.credits{
    text-align:center;
    color: white;
    font-weight: bold;
    margin-top: 200px;
    /*setting font to scale with the screen to a max of size 12*/
    font-size: min(1.5vw,12px);
}