body {
    /*setting the font */
    font-family: 'Roboto';
    margin: 0;
}

header {
    background-color:whitesmoke;
    /* aligning the contents in the header*/
    display: flex;
    /*content is spaced based on the space between each element*/
    justify-content: space-between;
    /*elements vertically aligned center*/
    align-items: center;
    height: 80px;
}


.navmobile {
    /*navigation bar for mobile by default is toggled to not be displayed*/
    display: none;
}

.nav {
    /*navigation bar for desktop is displayed initially*/
    display: flex;
}

.dropdownbtn {
    /*Button for dropdown menu is vertically aligned center and turns cursor to pointer*/
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
}

.dropdownContent {
    /*Content in dropdown menu is not displayed initially*/
    display: none;
    /*position is the same in the webpage*/
    position: absolute;
    /*appears infront of other elements*/
    z-index: 1;
    /*styling*/
    background: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 80px;
}

.dropdown:hover .dropdownContent {
    /*when dropdown menu is hovered, content is displayed*/
    display: block;
}

.dropdownContent p {
    padding: 10px;
    margin: 0px;
}

.dropdownContent p:hover {
    /*when you hover on content the background changes and cursor changes*/
    background: rgb(214, 85, 109);
    cursor: pointer;
}
.dropdownContent a:hover {
    text-decoration: none;
}

.dropdown:hover .dropdownbtn {
    /*when you hover over dropdown button the background changes*/
    background: rgb(214, 85, 109);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.home {
    /*CSS for home button*/
    padding: 0px 10px;
}

a {
    /*removing default css for <a> tag and making font color black*/
    text-decoration: none;
    color: black;
}

a:hover {
    /*on hover the text has an underline*/
    text-decoration: underline
}
button {
    /* Making all cursors turn into a pointer when hovering a button */
    cursor: pointer;
}

.user {
    /*rounded borders*/
    border-radius: 5px;
    /*button dimensions*/
    width: 80px;
    height: 30px;
    font-weight: bold;
    /*adjusting position*/
}

.user:hover {
    /*changing the button background to a darker shade when hovered*/
    background: rgb(214, 85, 109);
}

.login {
    /*button with crimson background and no border*/
    background: crimson;
    border: none;
}

.signup {
    /*button with white background, crimson border and 10px offset to the right*/
    background: whitesmoke;
    border: 1px solid crimson; 
    margin-right: 10px;
}

form input[type=text] {
    /*text input with white background*/
    background: whitesmoke;
    font-size: 18px;
    float:left;
    padding: 6px;
    /*width is 50% of screen to a max of 600px*/
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    height: 28px;
    /*rounded black borders*/
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
}

form.search button {
    /*crimson background that floats to the left, rounded borders top right, bottom right*/
    background: crimson;
    padding: 6px;
    float:left;
    display:block; 
    /*rounded black borders*/
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
}

form.search button:hover {
    background: rgb(214, 85, 109);
}

footer {
    /*white background footer with display as a grid*/
    background-color: whitesmoke;
    display: grid;
    /*2 columns 50% of screen total*/
    grid-template-columns: 25% 25%;
    /*centering objects*/
    justify-content: center;
    grid-gap: 50px;
    padding: 30px 0px;
    width: 100%;
}

@media screen and (max-width:780px) {
    form input[type=text]{
        min-width: 180px;
    }

    .user {
        width: 70px;
        margin-left: 10px;
    }

    footer {
        grid-gap: 10px;
        grid-template-columns: 40% 40%;
    }
}

@media screen and (max-width:630px) {
    form input[type=text]{
        min-width: 100px;
    }

    .navmobile {
        /*swapping navbars*/
        display: flex;
    }

    .navmobile h1 {
        font-size: 20px;
    }

    .nav {
        /*Swapping nav bars*/
        display: none;
    }
}