body {
    /*setting the font */
    font-family: 'Roboto';
    margin: 0;
}

header {
    background-color:whitesmoke;
    /* aligning the contents in the header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.home {
    /*CSS for home button*/
    margin-left: 10px;
}

a {
    /*removing default css for <a> tag and making font color black*/
    text-decoration: none;
    color: black;
}

a:hover {
    /*on hover the text has an underline*/
    text-decoration: underline
}
button {
    /* Making all cursors turn into a pointer when hovering a button */
    cursor: pointer;
}

.user {
    /*rounded borders*/
    border-radius: 5px;
    /*button dimensions*/
    width: 80px;
    height: 30px;
    font-weight: bold;
    /*adjusting position*/
}

.user:hover {
    /*changing the button background to a darker shade when hovered*/
    background: rgb(214, 85, 109);
}

.login {
    background: crimson;
    border: none;
}

.signup {
    background: whitesmoke;border: 1px solid crimson; margin-right: 10px;
}

form input[type=text] {
    background: whitesmoke;
    font-size: 18px;
    float:left;
    padding: 6px;
    /*width is 50% of screen to a max of 600px*/
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    height: 28px;
    /*rounded black borders*/
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
}

form.search button {
    background: crimson;
    padding: 6px;
    float:left;
    display:block; 
    /*rounded black borders*/
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
}

footer {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    grid-gap: 50px;
    padding: 30px 0px;
    width: 100%;
}