p {
    font-size: 100%;
}
.objWrapper {
    /*wrapper for object page*/
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 400px;
}

.objMain {
    /*wrapper for the main content (image and name)*/
    /*center the items*/
    display:flex;
    justify-content: center;
    align-items: center;
    /*10px off top margin*/
    margin: 20px 0px;
}

.objMain img {
    /*making image auto adjust with max and min widths*/
    width: auto;
    height: auto;
    max-width: 50%;
    min-width: 300px;
    margin-left: 20px;
    max-height: 450px;
    border-radius: 3px;
}

.objDesc {
    /*wrapper for place description*/
    border: solid 2px rgb(214, 85, 109);;
    width: 300px;
    padding: 10px;
    border-radius: 2px;
    height:fit-content;
    /*words break onto next lien if they are too long*/
    overflow-wrap: break-word;
}

.description {
    margin: 0px;
    max-width: 700px;
}

.hours{
    display: inline-block;
    margin-top: 20px;
}

.name {
    /*making the name of the place stand out*/
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.rating {
    /*wrapper for rating + number of reviews*/
    display: flex;
    align-items: center;
}

.numReview {
    margin: 0px 0px 0px 5px;
}

.catWrapper {
    /*wrapper for categories describing the place*/
    border-top:  solid 2px rgb(214, 85, 109);
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.catWrapper img {
    /*making image auto adjust with max and min widths*/
    display: inline;
    height: auto;
    width: auto;
    max-width: 40%;
    min-width: 300px;
    float:left;
    margin-bottom: 20px;
    border-radius: 3px;
}

.catWrapper h1 {
    margin: 10px 0px;
}

.dateGrid {
    /*A grid to display the open/closing times on each day*/
    display: grid;
    grid-template-columns: 50px 150px;
    grid-column-gap: 30px;
    float:left;
    margin-left: 40px;
    margin-top: 0px;
}

.dateGrid p {
    /*margins for grid items*/
    margin-block-end: 5px;
    margin-block-start: 5px;
}

.revWrapper {
    /*Wrapper for individual review*/
    display: block;
    margin-bottom: 30px;
}

.revProfile {
    display: inline-block;
}

.revProfile button {
    /*creating the profile icon for reviewer, white bg, rounded border*/
    background: white;
    border-radius: 5px;
    height: 48px;
    width: 56px;
    display: inline;
    float:left
}

.revProfile p {
    /*making the Name of the reviewer next to the profile icon*/
    display: inline;
    float: left;
    margin: 0 0 0 10px;
}

.review {
    /*making review a block element so it is on a new line*/
    margin: 10px 0;
    display: block;
    max-width: 700px;
}

.reviewButton {
    /*Button to review with crimson background with objects within centered vertically and horizontally*/
    background-color: crimson;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewButton:hover {
    background: rgb(214, 85, 109);
}

.sidebar {
    /*side bar taking up 100% height 100px from the right, 81 px from the top*/
    right: 100px;
    height: 100%;
    top: 120px;
    position: fixed;

}

.sidebarWrapper {
    /*Wrapper for the sidebar with rounded red border*/
    border: solid 2px rgb(214, 85, 109);;
    width: 200px;
    padding: 10px;
    border-radius: 2px;
}

@media screen and (max-width:1000px) {
    
    .objWrapper {
        margin-left: 50px;
        margin-right: 50px;
    }
    .sidebar{
        display: inline;
        right: 0px;
        height: auto;
        top: 0px;
        margin-bottom: 10px;
    }

    .sidebar {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .catWrapper{
        margin: 10px 0px;
    }

}

@media screen and (max-width:560px) {
    
    .objMain{
        flex-direction: column;
    }

    .objMain img {
        /*making image auto adjust with max and min widths*/
        margin-top: 20px;
        margin-left: 0px;
    }

    .dateGrid {
        margin-left: 0px;
        justify-content: center;
    }

    .catWrapper img {
        /*making image auto adjust with max and min widths*/
        min-width: 250px;
    }

}

@media screen and (max-height: 400px) {
    .catWrapper img {
        /*making image auto adjust with max and min widths*/
        min-width: 220px;
    }
    
}