.resultsWrapper {
    /*Wrapper for results page is a grid*/
    display: grid;
    /*left side of grid is the results, right side is the map*/
    grid-template-columns: 65% 35%;
}

header {
    /*making the header fixed shrunk, so make width 100%*/
    position: relative; 
    width: 100%; 
}

.resultsMain {
    /*putting the results in a flex box that flows in a column*/
    display:flex;
    flex-direction: column;
    grid-column: 1/1;
}

.topText {
    /*Text shown before the results*/
    margin-left: 30px;
    padding: 10px 0;
    /*objects vertically aligned center*/
    display: flex;
    align-items: center;
}
.topText h1 {
    display: inline;
    margin: 0;
}

.topText p {
    margin-left: 10px;
}

.topText p:hover {
    text-decoration: underline;
}

#map {
    display: flex;
    grid-column: 2 / 2;
    grid-row: 1/1;
    height: 100%;
}

.map img{
    /*the map covers the amount of space without stretching*/
    height: 100%;
    position:fixed;
    object-fit: cover;
}

.object {
    /*wrapper for each object*/
    display: flex;
    border-top: solid 2px rgb(214, 85, 109);
    padding: 30px;
}

.object img {
    /*height/width of images are 200px*/
    min-height: 200px;
    min-width: 200px;
    height:200px;
    width: 200px;
    border-radius: 3px;
}

.objectDesc {
    /*10px on left margin, aligning contents to the top of the div*/
    margin: 0 0 0 10px;
    vertical-align: top;
    overflow-wrap: break-word;
    
}

.object h1 {
    /*removing default margins*/
    margin-block-end: 0;
    margin-block-start: 0;
    
}

.rating {
    /*wrapper for rating + number of reviews*/
    display: flex;
    align-items: center;
}

.numReview {
    margin: 0px 0px 0px 5px;
}

.objectDesc p {
    /*sample review has a max width, after passing max width the review is cut off*/
    color: grey;
    text-overflow: ellipsis;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
}

.leaflet-popup-content-wrapper a {
    color: crimson;
}

@media screen and (max-width:1000px){
    .objectDesc p {
        /*making review max width smaller*/
        max-width: 400px;
    }

    .resultsWrapper {
        /*making the map and results into a column instead of row*/
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    #map{
        /*changing the map to be relative instead of fixed*/
        position: relative;
        height: 300px;
        justify-content: center;
        padding-top: 10px;
    }

    header {
        /*changing the header to be relative instead of fixed*/
        position: relative;
    }
}

@media screen and (max-width:400px) {
    

    .objectDesc p{
        max-width: 200px;
    }
    .object img {
        /*resizing results images*/
        min-height: 150px;
        min-width: 150px;
        height:150px;
        width: 150px;
        border-radius: 3px;
    }

    h1 {
        font-size: 18px;
    }

    .numReview {
        display: block;
    }

    .object {
        padding: 30px 10px;
    }

    .topText {
        margin-left: 0px;
        justify-content: center;
    }
}
