.mainSearch{
    /*setting background image behind the search bar*/
    background-image: url(../assets/arcade2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}

.credits{
    /*center aligned text, white color, bold font, margin top to add space*/
    color: white;
    font-weight: bold;
    margin-top: 250px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /*setting font to scale with the screen to a max of size 12*/
    display: flex;
    justify-content: center;
}

.search {
    /*centering the search elements*/
    justify-content: center;
    display: flex;
    
}

.nearYou {
    color: crimson;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    margin-block: 0px;
    text-align: center;
}

.nearYou:hover {
    text-decoration: underline;
}