.subGrid {
    /*Wrapper for the submission form is a grid with 4 columns centered in the screen*/
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    grid-gap: 20px;
    justify-content: center;
    padding: 30px;
}

.subGrid input{
    width: 100%;
    padding: 5px;
}

.title {
    /*removing default margins on p tag*/
    margin: 0;
}

.subGrid textarea {
    padding: 5px;
    width: 100%;
    min-height: 100px;
    
}

.error {
    margin-block-end: 0;
    margin-block-start: 5px;
    font-size: 15px;
    color: crimson;
    font-weight: bold;
}

.whole {
    /*spans 4 columns*/
    grid-column: auto / span 4;
}
.half{
    /*spans 2 columns*/
    grid-column: auto / span 2;
}

.fourth {
    /*spans 1 column1*/
    grid-column: auto / span 1;
}

.cancel {
    /*cancel button with white background rounded black borders and bold font*/
    background: whitesmoke;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
}

.geoButton {
    margin-top: 3px;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 4px;
    font-size: 12px;
}

.cancel:hover {
    background: rgb(214, 85, 109);;
}

.submit {
    /* rounded borders, colored background, height width modified, black border */
    border-radius: 5px;
    background: crimson;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    font-weight: bold;
}

.submit:hover {
    background: rgb(214, 85, 109);
}

.subGrid input[type=file] {
    font-weight: bold;
    padding: 5px 0px 0px 0px;
}
p {
    margin-block: 0px;
}

@media screen and (max-width:700px) {
    
    .fourth{
        grid-column: auto / span 2 !important;
    }

    .fourth p {
        width: 90px;
    }
}